body {
    background-color: #dfdade;
    color: #7c7777;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

.my-name {
    font-family: 'Pacifico', cursive;
    font-size: 4rem;
    text-align: center;
    color: #0077b6;
    margin: 20px 0;
  }

  .about-container {
    display: flex; /* Usamos Flexbox para la alineación */
    justify-content: space-between; /* Separa la imagen y el texto */
    align-items: center; /* Centra verticalmente los elementos */
    padding: 20px;
  }

section {
    padding: 20px;
    margin: 10px;
    border: 2px dashed #ccc; 
  }

  .about {
    text-align: center;
    font-weight: 500;
    font-style: normal;
    border: 0;
  }

 #experience ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
  }

#experience li {
    display: flex;
    flex-direction: column;
    background-color: #caf0f8;
    border-left: 5px solid #0077b6;
    padding: 15px;
    border-radius: 8px;
  }

  h2 {
    font-size: 1.8rem;
    color: #023e8a;
    font-weight: 700;
  }

  #connect a {
    display: inline-block;
    background-color: #90e0ef;
    color: #03045e;
    padding: 10px 15px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  #connect a:hover {
    background-color: #0077b6;
    color: white;
  }
  .photo img {
    max-width: 150px;
    border-radius: 50%;
    margin-right: 20px;
    border: 0; 

  }
  .about-text {
    flex: 1; /* Esto hace que el texto ocupe el resto del espacio */
    font-size: 1.1rem;
    line-height: 1.6;
    border: 0; 
  }

  nav {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    padding: 10px 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #03045e;
    font-weight: bold;
    padding: 8px 12px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #90e0ef;
    border-radius: 5px;
}

#connect ul {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0;
    list-style: none;
}